[flake8]
max-line-length = 88
max-complexity = 10
ignore = F405, F403
per-file-ignores = 
  eggplant/task_scheduler_service/server/api/__init__.py:F401
  eggplant/task_scheduler_service/server/database.py:F401
